@import 'utility'

$base-text-size: 16px
$base-font-family: sans-serif

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family
  color: #2f2e2e

html, body, #root, .app
  height: 100%

h1
  margin: 0
  color: transparent
  background:
    image: url('../images/sensei-sense.svg')
    repeat: no-repeat

.app
  display: flex
  flex-direction: column

  main
    flex: 1 1 auto
    overflow-y: auto

  header, footer
    flex: 0 0 auto

header
  padding: 0.5em
  background-color: #f4c69d

main
  background-color: #f2ede4

footer
  padding: 0.5em
  text-align: center
  font-size: 0.8em
  background-color: #615c57
  color: #f2ede4
